@model AttendanceVM
@{
    ViewData["Title"] = "Index";
}

<!--Index start-->
<section class="hr-attendance">
    <div class="dashboard-wrapper">
        <div class="dashboard-header justify-content-between">
            <div class="left-header">
                <button class="navbar-toggler">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="34px" height="34px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="#d0d3d6" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <rect fill="#3445e5" x="4" y="4" width="7" height="7" rx="1.5"></rect>
                            <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
                                  fill="#3445e5" opacity="0.3"></path>
                        </g>
                    </svg>
                </button>
                <h3>Attendance List</h3>
            </div>
            <div class="d-flex">
                <div class="date-now">
                    <span>Today : </span>
                    <span class="date">@DateTime.UtcNow.ToString("dd.MM.yyyy")</span>
                </div>
            </div>
        </div>
        <div class="dashboard-content">
            <!-- Attendance Status Marks-->
            <button class="sign-mark-dash d-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                </svg>
            </button>
            <button class="sign-mark-check d-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
            </button>
            <button class="sign-mark-cross d-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                </svg>
            </button>
            <div class="row">
                <div class="dl-table table-responsive">
                    <table class="table mb-table">
                        <thead>
                            <tr>
                                @{
                                    int dateYear = DateTime.UtcNow.Year;
                                    int dateMonth = DateTime.UtcNow.Month;
                                    int Days = DateTime.DaysInMonth(dateYear, dateMonth);
                                }

                                <th>Employee</th>
                                @for (int i = 1; i <= Days; i++)
                                {
                                    <th>@i</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var emp in @Model.Employees)
                            {
                                <tr>
                                    <td class="name">@emp.FullName</td>
                                    @for (int i = 1; i <= Days; i++)
                                    {
                                        bool condition = false;
                                        @*var day = i.ToString();
                                            if (i < 10)
                                            {
                                            day = "0" + i.ToString();
                                            }*@
                                        var attendanceDb = @Model.Attendances.FindAll(atd => atd.EmployeeId == emp.Id);
                                        foreach (var item in attendanceDb)
                                        {
                                            if (item.Date.Day == i && item.AttendanceStatus)
                                            {
                                                condition = true;
                                                <td class="day">
                                                    <button class="sign-mark-check">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                                        </svg>
                                                    </button>
                                                </td>
                                            }
                                            else if (item.Date.Day == i && !item.AttendanceStatus)
                                            {
                                                condition = true;
                                                <td class="day">
                                                    <button class="sign-mark-cross">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                                        </svg>
                                                    </button>
                                                </td>
                                            }
                                        }
                                        if (!condition)
                                        {
                                            <td class="day">
                                                <button class="sign-mark-dash">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                                    </svg>
                                                </button>
                                            </td>
                                        }

                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Index end-->
