@using Microsoft.AspNetCore.Identity
@model List<EmployeeUser>
@inject UserManager<EmployeeUser> _userManager
@{
    EmployeeUser loggedUser = null;
    if (User.Identity.IsAuthenticated)
    {
        loggedUser = await _userManager.FindByNameAsync(User.Identity.Name);
    }
}
@{
    ViewData["Title"] = "Index";
}

<!--Index start-->
<section class="pr-chat">
    <div class="dashboard-wrapper">
        <div class="dashboard-header">
            <div class="left-header">
                <button class="navbar-toggler">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="34px" height="34px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="#d0d3d6" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <rect fill="#3445e5" x="4" y="4" width="7" height="7" rx="1.5"></rect>
                            <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
                                  fill="#3445e5" opacity="0.3"></path>
                        </g>
                    </svg>
                </button>
                <h3>Chat</h3>
            </div>
        </div>
        <div class="dashboard-content">
            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-lg-5 col-xl-3 border-right">
                        <div class="px-4 d-none d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control my-3" placeholder="Search..." />
                                </div>
                            </div>
                        </div>
                        <!--Employees-->
                        @foreach (var emp in Model)
                        {
                                        <a id="@emp.Id" class="list-group-item list-group-item-action border-0 d-none">
                                @{
                                    var time = (DateTime.Now - (DateTime)emp.DisconnectedAt).Minutes;
                                }
                                                <a class="user-data" asp-action="GetData" data-id="@emp.Id" data-name="@emp.FullName" data-photo="@emp.ProfilePhoto" data-connectionAt="@time" data-messagefrom = "@loggedUser.FullName">
                                                <div class="d-flex align-items-start" style="padding: 10px 20px ;">
                                                    <img src="~/assets/images/userPhotos/@emp.ProfilePhoto" class="rounded-circle mr-1" width="40" height="40" />
                                                    <div class="d-flex gap-1 flex-grow-1 ml-3">
                                                        <span class="contact-name">@emp.FullName</span>
                                                        <div class="d-flex align-items-center small">
                                                            <span class="fas fa-circle @(emp.ConnectionId == null?"chat-offline":"chat-online") "></span> 
                                                @*@(emp.ConnectionId == null?"Offline":"Online")*@
                                                        </div>
                                                    </div>
                                                </div>

                                            </a>
                                        </a>
                        }
                        <hr class="d-block d-lg-none mt-1 mb-0" />
                    </div>
                    <div class="col-12 col-lg-7 col-xl-9">
                        <div class="py-2 px-4 border-bottom d-none d-lg-block">
                            <div class="d-flex align-items-center py-1">
                                @*<div class="position-relative">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                         class="rounded-circle mr-1" alt="Sharon Lessman" width="40"
                                         height="40" />
                                </div>*@
                                <div class="flex-grow-1 pl-3">
                                    <strong  id="userInput">Select someone to chat ...</strong>
                                    <small id="connectionAt"></small>
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-lg mr-1 px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-phone feather-lg">
                                            <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                            </path>
                                        </svg>
                                    </button>
                                    <button class="btn btn-primary btn-lg mr-1 px-3 d-none d-md-inline-block">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-video feather-lg">
                                            <polygon points="23 7 16 12 23 17 23 7"></polygon>
                                            <rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect>
                                        </svg>
                                    </button>
                                    <button class="btn btn-primary btn-lg px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-more-horizontal feather-lg">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="Id" id="idInput" value="" />
                        <div class="position-relative">
                            <div class="chat-messages message-list p-4" style="min-height: 570px; max-height: 570px;">
                                @*<div class="chat-message-right pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                             class="rounded-circle mr-1" alt="Chris Wood" width="40"
                                             height="40" />
                                        <div class="text-muted small text-nowrap mt-2">
                                            2:33 am
                                        </div>
                                    </div>
                                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                        <div class="font-weight-bold mb-1">You</div>
                                        Lorem ipsum dolor sit amet, vis erat denique in,
                                        dicunt prodesset te vix.
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <div class="flex-grow-0 py-3 px-4 border-top">
                            <div class="input-group">
                                <input type="text" class="form-control" id="messageInput" placeholder="Type your message" />
                                <a class="btn btn-primary" id="sendButton" asp-action="SendMessage">Send</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Index end-->
@section CssChat{
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
}
    @section ScriptChat{
            <script src="~/assets/js/chat.js"></script>
}
